<head>

<style>
 body {
 background-color: #add8e6; 
 font-family:Verdana;
 }
 h1 {
 text-align:center;
 font-size: 40px ;
 border: 5px solid #12232E;
 padding: 30px

 }
 h2 {
 text-align:left
 }
 h3 {text-align:justify}
</style>
</head>

<body>
<h1>Buggy Editor Poster</h1>

<h2>Poster</h2>

<img src="SandyBuggy.jpg" alt="Sandy buggy" width="750" height="500"/>
<img src="FancyBuggy.jpg" alt="Fancy buggy"width="750" height="500"/>
<br />
<img src="MaglevWheels.jpg" alt="Maglev wheels"width="750" height="500"/>
<img src="WoodenBuggy.jpg" alt="Wooden Buggy"width="750" height="500"/>

<h2>Section 0</h2>

<h3>0-GET</h3>
<p>For this section all I had to do was create a github account using my email and clone the repository from github onto my local machine.</p>

<h3>0-RUN</h3>
<p>For this section I used the github ui to help me with run the web app</p>

<h3>0-CHANGE</h3>
<p>For this section all I did was change the values for the buttons and borders within the css files to blue. I also made sure not to touch any of the configurations with the margins in order to keep the webb app looking clean.</p>

<h2>Section 1</h2>

<h3>1-ADD</h3>
<p>This section took some time as it required me to look through the rules and add new rows to my database. This is to add more features to the buggies.</p>

<h3>1-VALID</h3>
<p>This section was not too difficult as all it requred me to do is to check if the integer value coming into the data base were actually integers so that they could be processesd correctly</p>

<h3>1-STYLE</h3>
<p>I didn't change much within the css file. I did some changes within 0-CHANGE</p>

<h2>Section 2</h2>

<h3>2-EDIT</h3>
<p>I struggled with this part for a while. it was not too difficult to preload some of the integer and string values,however loading in values that were being chosen with selected was very difficult. 
I was unable to find the right if statement and couldn't complete it 
</p>

<h3>2-FORM</h3>
<p>I tried to improve the form by using select and checkboxes.Select allowed for string values to be cosistent so that it wasn't dependant on the user and was also quicker.
    The checkboxes where used to help with boolean values that were recieved so that the user didn't have to type true or false.</p>

<h3>2-COST</h3>
<p>I added a function calccost into app.py so that the cost could be calculated using all of the values collected within the form.]
    The function adds values that i manually retreived from the rules list so they may not be upto date but. scanning through the web page was very difficult and wasn't viable'
</p>

<h3>2-RULES</h3>
<p>For this section I added a new variable called vio this sent a message ou to the update page whenever a rule violation had occured </p>

</body>